

.App-header {
  background-color: #efefef;
  min-height: 100%;

  font-size: 15px;
  color: #121212;
}

.App-link {
  color: #61dafb;
}


.text-right{
  text-align: right;
}

.realtime-line-chart{
  margin-right: -25px;
}

